landing-page-analyzer.json
{
  "name": "cro_homepage_analyzer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -144
      ],
      "id": "b6826866-5428-4e9d-9ef2-dd5c9039aae9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/16QtCwueySG3fzBLJKacxFHfHfsgJK1gI6Aii0GNStXo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16QtCwueySG3fzBLJKacxFHfHfsgJK1gI6Aii0GNStXo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -144
      ],
      "id": "6e75042a-f059-4cf6-bcd5-234eb4235db7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ApCak9nV1ojGAPgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.screenshotone.com/take",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "your_key"
            },
            {
              "name": "url",
              "value": "={{ $json.Website }}"
            },
            {
              "name": "block_cookie_banners",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -160
      ],
      "id": "1385330f-db04-4f27-8915-be7715ef748a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are a CRO Expert. Analyze the attached screenshot of {{ $json.Name }}'s product collections page.\n\n1. Identify ONE specific visual friction point (like the \"subdued CTA\" you found earlier).\n2. Write a cold email to {{ $json.Name }} about it.\n\nOutput STRICTLY valid JSON (no markdown, no ```json tags). Keep your response for subject within 5 words and for body within 30 words strictly.\nFormat:\n{\n\"subject\": \"Short, casual lower-case subject\",\n\"body\": \"Short email body (under 75 words) mentioning the specific visual issue.\"\n}",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        496,
        -160
      ],
      "id": "371e6c6e-c985-4fa5-848a-a9d9b6d487ca",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "4WRjM6WSs9OAb2bV",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f069660-fa9c-40ee-85c5-a3aedfaa6367",
              "name": "Subject_Clean",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).subject }}",
              "type": "string"
            },
            {
              "id": "6995a8ed-e396-4c84-8bb6-e0241de1137d",
              "name": "Body_Clean",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).body }}",
              "type": "string"
            },
            {
              "id": "6bd29392-8b64-4a5d-aed9-9c4ae6323f99",
              "name": "Website",
              "value": "={{ $('Get row(s) in sheet').item.json.Website }}",
              "type": "string"
            },
            {
              "id": "b4704ded-ff11-4743-80dd-602d7ebdd999",
              "name": "Email",
              "value": "={{ $('Get row(s) in sheet').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -160
      ],
      "id": "9db166f1-4a65-4310-9b89-0d5f0b3508b4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/16QtCwueySG3fzBLJKacxFHfHfsgJK1gI6Aii0GNStXo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16QtCwueySG3fzBLJKacxFHfHfsgJK1gI6Aii0GNStXo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject_Clean": "={{ $json.Subject_Clean }}",
            "Body_Clean": "={{ $json.Body_Clean }}",
            "row_number": 0,
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subject_Clean",
              "displayName": "Subject_Clean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body_Clean",
              "displayName": "Body_Clean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -160
      ],
      "id": "12511b50-bc22-4cd2-9211-25ab03bec11d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ApCak9nV1ojGAPgu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        -144
      ],
      "id": "918daec2-586b-4cb5-9080-d8c71848387a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        -160
      ],
      "id": "1253a5f3-3733-48db-bda0-d21c1405c1ab",
      "name": "Wait",
      "webhookId": "c0229ee9-9d62-461e-bfec-316df141ffc8"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "238c6d4a-7819-4e16-9252-a86ce6f49fc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba1c05e80133909f78de73359dd8c44589ba9110128cf010a937430dbda2aa58"
  },
  "id": "5dGY9WHbpsUlovJq",
  "tags": []
}